.{
    margin:0px;
    padding:0px;
    box-sizing: border-box;
}


body{
     background-color: rgb(220, 245, 245);
}
#heading
{ background-color: aqua;
    font-size: 50px;
    border-color: black;
    border-width: 4px;
    border-style: dotted;
    border-radius: 12px;
    color: brown;
    text-align: center;

}
table{
    width: 50%;
    font-size: 20px;
    color: rgb(0, 0, 0);
    font-weight: bold;

}
#container
{
    width: 100%;
    display: block;
    align-items: center;
}